{% extends "home/base.html" %}
{% block content %}

<div class="container">
<br>
<br>
<br>
<div class="row col"></div>
<h2>How to enter the prize competitions</h2>
<ul>
<li>Pick the competition you want to enter.</li>
<li>Choose how many entries you would like.</li>
<li>Answer our qualifying question.</li>
<li>Complete payment.</li>
<li>You will be emailed with confirmation of payment and order number.</li>
<li>Wait for the competition to close.</li>
</ul>
<p>When the competition closes you will be sent an email. If you have answered the question correctly you will be assigned a number and entered into the competition.</p>
<h2>&ZeroWidthSpace;How the winner is picked and when the draws go live</h2>
<p>Once all entries are in and the draw is closed, all entries will be posted on our website within 24 hours and we will send you an email to let you know the competition is closed. This will include your draw number beside your name which is what we will use in the LIVE draw to decide the winner.</p>
<p>This means you can watch the live draw with your corresponding number(s) in hand.</p>
<p>Upon answering question correctly entrants will also be sent email confirmation with there number included</p>
<p>Random number generator will then be used to choose a winner, the name linking to the winning number chosen, will be the winner.</p>
<h2>Remember</h2>
<p>Aj Competitions are a registered limited company based in Ireland. All of our products are sourced specifically for the Irish market which means No Import Tax on items arriving from outside the EU, No VRT or NOx Tax on any cars you win with us. With Aj Competitions when you win a prize there is no hidden costs to pay after which will leave you out of pocket</p>
<p>Aj Competitions guarantee that every winner is 100% randomly picked.</p>

</div>
</div>

{% endblock %}