{% extends "home/base.html" %}
{% load static %}
{% block content %}
<section class="banner"  >
    <div class="container">
<div class="row">
<div class="col-sm-6 m-auto">
    {% if user.is_authenticated %}
    <form class="box" action="/logout" method="POST">{% csrf_token %}
        <img src="{% static 'home/images/g.png' %}" width="100px" height="100px">

        <h1>Hi {{User.first_name}} {{User.last_name}}!</h1>
        <button id="login" class="btn" type="submit" name="create">Logout</button>
        
       
        {% else %}
        <form class="box" action="/login" method="POST">{% csrf_token %}
            <img src="{% static 'home/images/g.png' %}" width="100px" height="100px">
            <p style="color:lightblue">Login </p>
            <input type="text" name="username" class="form-control" id="curr_mail" placeholder="Email"required>
            <input type="password" name="password" class="form-control" id="curr_mail" placeholder="Password"required>       
            <a href="/register">SignUp!</a>
            <br>
            <button id="login" class="btn" type="submit" name="create">Login</button> 
        {% endif %}

    </form>
    </div>
    </div>
    </div>

</section>

{% endblock %}
